@model mobile.WebModels.VehicleViewModel


@{
    ViewData["Title"] = "Details";
}




    <div class="container jumbotron">

        <h1>Details</h1>
        <h4>@Html.DisplayFor(m => m.Make) @Html.DisplayFor(m => m.Model)</h4>
        <hr />


        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Make)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Make)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fueltype)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fueltype)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CubicCapacity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CubicCapacity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Power)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Power)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GearBox)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GearBox)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Mileage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mileage)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VehicleDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VehicleDescription)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


